record(ai,"$(P)$(R)")
{
        field(SCAN,"$(SCAN)")
        field(DTYP,"Ip330")
        field(INP,"#C$(C) S$(S) @$(PORT),$(GAIN)")
        field(LINR,"LINEAR")
        field(EGUF,"$(EGUF)")
        field(EGUL,"$(EGUL)")
        field(HOPR,"$(HOPR)")
        field(LOPR,"$(LOPR)")
        field(PREC,"$(PREC)")
}
