record(ai,"$(P)$(R)")
{
        field(SCAN,"$(SCAN)")
        field(DTYP,"asyn Int32Average")
        field(INP,"@asyn($(PORT) $(S))")
        field(LINR,"LINEAR")
        field(EGUF,"$(EGUF)")
        field(EGUL,"$(EGUL)")
        field(HOPR,"$(HOPR)")
        field(LOPR,"$(LOPR)")
        field(PREC,"$(PREC)")
}
